[submodule "python-fire"]
	path = python-fire
	url = https://github.com/google/python-fire.git
[submodule "es-dev-stack"]
	path = es-dev-stack
	url = https://github.com/emergingstack/es-dev-stack.git
[submodule "nvidia-docker"]
	path = nvidia-docker
	url = https://github.com/NVIDIA/nvidia-docker.git
[submodule "mesos-gpu-docker"]
	path = mesos-gpu-docker
	url = https://github.com/klueska-mesosphere/mesos-gpu-docker.git
